.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

.product h1{
    color: #5452fe;
    font-size: 46px;
    font-family: 'TildaSans',Arial,sans-serif;
    line-height: 1.35;
    font-weight: 700;
    opacity: 0.9;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin-left: 20px;
    margin-bottom: 40px;
}

.vl {
    border-left: 1.5px solid rgb(23, 0, 128);
    height: 400px;
  }
.product div{
    margin-top: 10px;
    flex-direction: row;
    width: auto;
}