.main{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.main h1{
    color: #5452fe;
    font-size: 3rem;
    text-align: left;
    margin-left: 4rem;
    margin-bottom: -5rem;
}
.sub_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}
.para_div{
    display: flex;
    flex-direction: row;

}
.para_div div{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 3rem;
}
.para_div div span{
    color: #5452fe;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: -4rem;
    font-weight: bold;
    font-size: 28px;
}

.para_div div p {
    padding: 20px;
        margin: 50px;
        color: gray;
        margin-left: 4rem;
        font-size: 1rem;
        line-height: 2;
        text-align: left;
}